*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: "Roboto", "Poppins", Helvetica, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Referencias de estilos genéricas (sustituir por los colores deseados) */
:root {
	--bg-color: #fabada;
	--accent-bg-color: #f4ede4;
	--text-color: #1d1d1d;
	--text-light-color: #696969;
	--text-secondary-color: #a31212;
	--primary-color: #0d4011;
	--primary-color-dark: #154b21;
}

/* CSS Global para estilos */

ul {
	list-style-type: none;
}

/* A partir de aquí introduce tus estilos
(estos estilos aplican desde Mobile en adelante hasta  que se sobreescriban en alguna media query) */
:root {
	--accent-bg-color: #f4ede4;
	--primary-text-color: #000;
	--contrast-color: #fff;
	--primary-color: #400d40;
	--secondary-color: #efece6;
	--tertiary-color: #fff5e7;
	--primary-color-btn: #191919;

	--container-width: 95%;
}

body {
	background-color: var(--bg-color);
}

nav {
	background: transparent;
	height: 100px;
}

header {
	position: relative;
	width: 100%;
}

video {
	width: 100%;
}

.alert-bar {
	background-color: var(--primary-text-color);
	color: #fff;
	text-align: center;
	font-size: 10px;
	padding: 8px 0;
}

.video-container {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#video-header {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}

.menu-mobile {
	display: flex;
	gap: 10px;
	color: #fff;
}

.menu-mobile,
.nav-icons {
	display: flex;
	align-items: center;
	color: #fff;
}

.nav-icons {
	display: flex;
	gap: 10px;
}

.nav-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: #ffff;
	top: -30px;
	height: 20vw;
}

.nav-content h2 {
	font-size: 18px;
}

.nav-content p {
	font-size: 10px;
}

.nav-content button {
	font-size: 10px;
	color: #ffff;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 4px;
	width: 45%;
	padding: 8px;
	top: -40px;
}

.nav-desktop {
	display: none;
}

.nav-content-desktop {
	display: none;
}

.input-search {
	display: none;
	background: transparent;
	border: transparent;
	border-bottom: 1px solid #ffff;
}

.nav-icons {
	color: #ffff;
}

.container {
	width: 80%;
}

.section-container {
	width: 100%;
	padding: 10px 4px;
}

.section-container h4 {
	font-size: 22px;
	padding: 20px 4px;
}

.news-arrivals {
	display: flex;
	flex-direction: row;
	gap: 4px;
	width: 100%;
}

.product-card {
	display: flex;
	flex-direction: column;
	width: 38%;
	gap: 4px;
}

.product-card-img,
.product-card-img img {
	width: 100%;
}

.product-card-desktop,
.product-card-desktop-xxl {
	display: none;
}

.product-price {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 12px;
	font-weight: 600;
}

.product-info-mobile {
	font-size: 12px;
}

.product-info-desktop {
	display: none;
}

.categories-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 5px;
}

.categories-container img {
	width: 100%;
}

.garden-category,
.chair-category,
.sofas-category,
.lamp-category {
	width: 100%;
}


.categories-container-two img {
	width: 100%;
}

.trending-section h3 {
	font-size: 22px;
}

.desks-section,
.desks-section img,
.featured-content,
.featured-content img,
.featured-content-mobile,
.featured-content-mobile img {
	width: 100%;
}

.featured-section-mobile {
	background-color: var(--secondary-color);
	padding: 16px;
}

.featured-section-mobile h3 {
	padding-top: 20px 0;
}

.featured-img-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.featured-section-desktop {
	display: none;
}

.features-section {
	padding: 20px 8px;
	background-color: var(--text-light-color);
}


.modular-sofas-container {
	background-color: var(--secondary-color);
	width: 100%;
	height: 100%;
	padding: 20px;
}

.modular-sofas-img img {
	width: 100%;
}

.modular-sofas-btn {
	padding-top: 60px;
}

.modular-sofas-btn button {
	background: transparent;
	border: 1px solid var(--primary-text-color);
	padding: 4px 8px;
	font-size: 14px;
}

.category-tags {
	display: flex;
	flex-direction: column;
}

.furniture-tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0 6px;
}

.furniture-tags a {
	background-color: #dbd4c7;
	padding: 5px;
	margin: 0 2px;
}

.advertising p {
	padding: 5px 4px;
}

.advertising-img {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 8px;
}

.advertising-img img {
	width: 50%;
}

.mysklumstory-info {
	text-align: center;
}

.mysklumstory-info h5 {
	font-size: 20px;
}

.mysklumstory-rrss {
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding: 10px;
	justify-content: center;
}

.rrss-img-mobile,
.rrss-img-mobile img {
	width: 100%;
}

.arrows-mobile {
	display: flex;
	justify-content: center;
}

.rrss-img-tablet,
.rrss-img-desktop {
	display: none;
}


.garden-light-banner,
.garden-light-banner img {
	width: 100%;
}

.sklum-article-img,
.sklum-article-img img {
	width: 100%;
	padding: 0 8px;
}

.sklum-blog-content h5,
.sklum-blog-content-two h5 {
	font-size: 20px;
	padding: 0px 10px 20px 10px;
}

.sklum-blog-content p,
.sklum-blog-content-two p {
	padding: 10px;
}

.sklum-article-btn {
	display: flex;
	align-items: center;
	padding: 20px;
}

.sklum-article-btn button {
	background-color: var(--primary-text-color);
	color: var(--contrast-color);
	border: none;
	width: 100%;
	padding: 4px 16px;
}

.reviews-mobile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding-top: 20px;
	color: #6d6d6d;
}

.reviews i {
	font-size: 18px;
	color: #c5c5c5;
}

.reviews,
.reviews img {
	width: 100%;
}

.trustpilot-info {
	font-size: 10px;
	text-align: center;
}

.numers-reviews {
	font-weight: 500;
}

.opinions {
	text-decoration: underline;
}

.trustpilot-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 8px;
}

.trustpilot-logo {
	color: #00b67a;
}

.trustpilot-logo p {
	color: var(--primary-text-color);
}

.reviews-tablet,
.reviews-desktop,
.reviews-desktop-xxl,
.trustpilot-info-tablet,
.trustpilot-info-desktop,
.trustpilot-info-desktop-xxl {
	display: none;
}

.newsletters-container {
	background-color: #EFECE6;
	color: var(--primary-text-color);
	font-size: 20px;
	padding: 20px;
}

.newsletters-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

.newsletters-btn {
	background-color: var(--primary-text-color);
	color: #FFF;
	font-size: 18px;
	border: none;
	padding: 10px;
}

.footer-container {
	background-color: #EFECE6;
	padding: 20px;
}

.footer-lists {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-lists h5 {
	font-size: 18px;
	padding: 10px 0;
}

.footer-lists a {
	padding: 6px 0;
}

.footer-about,
.footer-category,
.footer-rooms,
.footer-help {
	display: flex;
	flex-direction: column;
}

.footer-rrss {
	font-size: 24px;
}

.footer-rrss i {
	padding: 8px 10px;
}

.secure-payment {
	background-color: #EFECE6;
}

.secure-payment h5 {
	font-size: 18px;
}

.payments-img-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.payments-img-container picture {
	display: flex;
	justify-content: center;
}

.payments-img {
	width: 50%;
	display: flex;
}

.payments-img img {
	width: 50%;
}

.copyright-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}

.footer-logo-sklum {
	width: 28%;
	padding: 20px 10px;
}

.footer-logo-sklum img {
	width: 100%;
}

.copyright-container p {
	font-size: 12px;
	text-align: center;
	font-weight: 500;
	padding: 0 20px;
}

.copyright-container-content {
	display: flex;
    align-items: center;
    flex-direction: column;
}