/* Mobile First */

/* A partir de aquí es para dar estilo par diferentes tamaños de pantalla */

/* Media query para dispositivos TABLET (mayores a 480px) */
@media (min-width: 481px) {
	:root {
		--bg-color: lightcoral;
		--container-width: 85%;
	}

	.input-search {
		display: none;
	}

	.nav-content {
		height: 40vw;
	}

	.section-container {
		padding: 12px 6px;
	}

	.product-card {
		width: 50%;
	}

	.news-arrivals img {
		width: 250px;
	}

	.product-color img {
		width: 90px;
	}

	.product-info {
		font-size: 14px;
	}

	.product-card-desktop {
		display: none;
	}

	.categories-section {

	}

	.categories-container img {
		width: 744px;
	}

	.categories-container-two img {
		width: 370px;
	}
}

/* Media query para dispositivos DESKTOP (mayores a 1024px) */
@media (min-width: 1024px) {
	:root {
		--bg-color: beige;
		--container-width: 80%;
	}

	.input-search {
		display: inherit;
	}

	.nav-content {
		height: 42vw;
	}

	.section-container {
		padding: 20px 4px;
	}

	.news-arrivals {
		gap: 5px;
	}

	.product-card-desktop {
		width: 100%;
	}

	.product-card img {
		width: 198px;
	}

	.product-card-desktop {
		display: inherit;
	}

	.product-info-mobile {
		display: none;
	}

	.product-info-desktop {
		display: inherit;
		font-size: 14px;
	}

	.product-color img {
		width: 100px;
	}

	.product-card-desktop-xxl {
		display: none;
	}

	.categories-section {
		display: flex;
		flex-direction: row;
	}

	.categories-container {
		width: 50%;
	}

	.categories-flex {
		display: flex;
		flex-direction: column;
	}

	.categories-container {
		display: flex;
		flex-direction: row;
		order: 1;
	}

	.categories-container-two {
		display: flex;
		flex-direction: row;
	}

	.categories-container img {
		width: 476px;
		padding: 6px;
	}

	.categories-container-two img {
		width: 234px;
	}
}

/* Media query para dispositivos DESKTOP XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--bg-color: aquamarine;
		--container-width: 75%;
	}

	.nav-content {
		height: 48vw;
	}

	.section-container {
		padding: 4px 8px;
	}

	.product-info-mobile {
		display: none;
	}

	.product-info-desktop {
		display: inherit;
	}

	.product-card img {
		width: 232px;
	}

	.product-card-desktop-xxl {
		display: inherit;
	}

	.product-color img {
		width: 100px;
	}
	
	.categories-section {
		width: 100%;
	}
}
