/* Mobile First */

/* A partir de aquí es para dar estilo par diferentes tamaños de pantalla */

/* Media query para dispositivos TABLET (mayores a 480px) */
@media (min-width: 481px) {
	:root {
		--bg-color: lightcoral;
		--container-width: 85%;
	}

	.input-search {
		display: none;
	}

	.nav-content {
		height: 40vw;
	}

	.section-container {
		padding: 12px 6px;
	}

	.product-card {
		width: 50%;
	}

	.product-card-img,
	.product-card-img img {
		width: 100%;
	}

	.product-color img {
		width: 90px;
	}

	.product-info {
		font-size: 14px;
	}

	.product-card-desktop {
		display: none;
	}

	.categories-container img {
		width: 100%;
	}

	.garden-category {
		width: 100%;
	}

	.chair-category,
	.table-category,
	.sofa-category,
	.lamp-category {
		width: 100%;
		display: flex;
		flex: row;
	}

	.categories-container-two {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;
	}

	.featured-section-mobile {
		display: none;
	}

	.desks-section-desktop {
		width: 50%;
	}

	.desks-section-desktop img {
		width: 100%;
	}

	.featured-section-desktop {
		display: flex;
		flex-direction: row;
		background-color: var(--secondary-color);
	}

	.featured-container {
		display: flex;
		flex-direction: row;
	}

	.featured-content {
		display: flex;
		flex-direction: column;
	}

	.featured-content-desktop {
		width: 35%;
		display: flex;
		flex-direction: column;
	}

	.featured-content-desktop img {
		width: 100%;
	}

	.product-featured-desktop {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 20px;
		gap: 10px;
	}

	.modular-sofas-container {
		height: 100%;
	}

	.modular-sofas-btn {
		padding-top: 10px;
	}

	.modular-sofas-img img {
		width: 100%;
	}

	.advertising-img {
		width: 50%;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 10px;
	}

	.rrss-img-mobile,
	.arrows-mobile {
		display: none;
	}

	.rrss-img-tablet {
		width: 100%;
		display: flex;
		flex-direction: row;
		padding: 12px;
		gap: 10px;
		justify-content: center;
	}

	.img-tablet-container img {
		width: 49%;
	}

	.gray-arrows {
		display: flex;
		align-items: center;
	}

	.sklum-article {
		display: flex;
		flex-direction: row;
		gap: 20px;
		padding: 20px;
	}

	.sklum-article-content {
		width: 80%;
	}

	.sklum-blog-content-two {
		width: 79%;
	}

	.sklum-article-img-table img {
		width: 100%;
	}

	.reviews-mobile,
	.trustpilot-info,
	.reviews-desktop {
		display: none;
	}
	.reviews-img {
		width: 100%;
	}
	.reviews-img img {
		width: 100%;
	}

	.reviews-tablet {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		padding-top: 20px;
		color: #6d6d6d;
	}

	.trustpilot-info,
	.trustpilot-info-desktop {
		display: none;
	}

	.trustpilot-info-tablet {
		text-align: center;
	}
}
/* Media query para dispositivos DESKTOP (mayores a 1024px) */
@media (min-width: 1024px) {
	:root {
		--bg-color: beige;
		--container-width: 80%;
	}

	.input-search {
		display: inherit;
	}

	.nav-content {
		height: 42vw;
	}

	.section-container {
		padding: 20px 4px;
	}

	.news-arrivals {
		gap: 5px;
	}

	.product-card,
	.product-card-img,
	.product-card-desktop,
	.product-card-desktop img {
		width: 100%;
	}

	.product-card-desktop {
		display: inherit;
	}

	.product-info-mobile {
		display: none;
	}

	.product-info-desktop {
		display: inherit;
		font-size: 14px;
	}

	.product-color img {
		width: 100px;
	}

	.product-card-desktop-xxl {
		display: none;
	}

	.categories-section {
		display: flex;
		flex-direction: row;
	}

	.categories-container,
	.categories-container img,
	.categories-container-two img {
		width: 100%;
	}

	.categories-container {
		grid-template-columns: 1fr 1fr 2.5fr;
	}

	.garden-category {
		order: 2;
	}

	.categories-container-two {
		flex-wrap: wrap;
	}

	.modular-sofas {
		display: flex;
		flex-direction: row;
	}

	.modular-sofas-container {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.category-tags {
		flex-direction: row;
		gap: 4px;
	}

	.advertising-img {
		flex-wrap: nowrap;
		gap: 20px;
	}

	.advertising-img img {
		width: 20%;
	}

	.img-tablet-container {
		width: 100%;
	}

	.img-tablet-container img {
		width: 49%;
	}

	.reviews-mobile,
	.reviews-tablet {
		display: none;
	}

	.reviews-desktop {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding-top: 20px;
		color: #6d6d6d;
	}

	.reviews-img,
	.reviews-img img {
		width: 100%;
	}

	.trustpilot-info-tablet,
	.trustpilot-info {
		display: none;
	}

	.trustpilot-info-desktop {
		display: inherit;
		text-align: center;
	}
}

/* Media query para dispositivos DESKTOP XXL (mayores a 1440px) */
@media (min-width: 1440px) {
	:root {
		--bg-color: aquamarine;
		--container-width: 75%;
	}

	.nav-content {
		height: 48vw;
	}

	.section-container {
		width: 100%;
		padding: 4px 8px;
	}

	.product-info-mobile {
		display: none;
	}

	.product-card-desktop-xxl {
		display: inherit;
	}

	.product-color img {
		width: 100px;
	}

	.categories-section {
		width: 100%;
	}

	.categories-container img {
		width: 100%;
	}

	.garden-category,
	.chair-category,
	.sofas-category,
	.lamp-category {
		width: 100%;
	}

	.categories-container-two img {
		width: 315px;
	}

	.desks-section-desktop img {
		width: 650px;
	}

	.product-featured-desktop {
		align-items: center;
		gap: 16px;
	}

	.featured-content-desktop img {
		width: 238px;
	}

	.featured-content-desktop p {
		font-size: 18px;
	}

	.modular-sofas-img img {
		width: 1000px;
	}

	.modular-sofas-container {
		width: 60%;
		height: 496px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2px;
	}

	.category-tags {
		display: flex;
		flex-direction: row;
	}

	.furniture-tags,
	.advertising {
		width: 50%;
	}

	.advertising-img img {
		width: 45%;
	}

	.rrss-img-tablet {
		display: none;
	}

	.rrss-img-desktop {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.img-desktop-container {
		width: 100%;
	}

	.img-desktop-container img {
		width: 24%;
	}

	.gray-arrows {
		width: 10%;
	}

	.gray-arrows img {
		width: 100%;
		height: 80px;
	}

	.sklum-article {
		gap: 80px;
	}

	.sklum-article-img {
		padding: 10px;
	}

	.sklum-blog-content h5,
	.sklum-blog-content-two h5 {
		font-size: 30px;
		padding: 20px;
	}

	.sklum-blog-content p,
	.sklum-blog-content-two p {
		font-size: 22px;
		padding: 20px;
	}

	.reviews-desktop,
	.trustpilot-info-desktop {
		display: none;
	}

	.reviews-desktop-xxl {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		padding-top: 20px;
		color: #6d6d6d;
	}

	.reviews-desktop-xxl,
	.reviews-desktop-xxl img {
		width: 100%;
	}
}
